In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
Price = []   #Prices for the 1st page
page_link = 'https://www.cheki.com.ng/vehicles'

page_response = requests.get(page_link)
page_content = BeautifulSoup(page_response.content, "html.parser")

#h2 tags holds the price
for i in range(0, 20):
    prices = page_content.find_all("h2")[i].text
    if prices != 'Cheki Finance x':
        Price.append(prices)

In [3]:
Prices_others = []   #Prices for the other pages

for i in range(1,456):
    page_links = 'https://www.cheki.com.ng/vehicles?page={}'.format(i)
    page_responses = requests.get(page_links)
    page_contents = BeautifulSoup(page_responses.content, "html.parser")

    #h2 tags holds the price
    for j in range(0, 20):
        prices = page_contents.find_all("h2")[j].text
        if prices != 'Cheki Finance x':
            Prices_others.append(prices)

In [326]:
details = []   #details for first page
page_link = 'https://www.cheki.com.ng/vehicles'

page_response = requests.get(page_link)
page_content = BeautifulSoup(page_response.content, "html.parser")

#span tags holds other details
for i in range(0, 340):
    detail = page_content.find_all("span")[i].text
    details.append(detail)

In [17]:
more_details = []  #details from more pages

for i in range(1,20):
    page_links = 'https://www.cheki.com.ng/vehicles?page={}'.format(i)
    page_responses = requests.get(page_links)
    page_contents = BeautifulSoup(page_responses.content, "html.parser")

    #span tags holds the details
    for j in range(0, 320):
        more_detail = page_contents.find_all("span")[j].text
        more_details.append(more_detail)

In [20]:
for i in range(21,100):
    page_links = 'https://www.cheki.com.ng/vehicles?page={}'.format(i)
    page_responses = requests.get(page_links)
    page_contents = BeautifulSoup(page_responses.content, "html.parser")

    #span tags holds the details
    for j in range(0, 300):
        more_detail = page_contents.find_all("span")[j].text
        more_details.append(more_detail)

In [22]:
for i in range(101,200):
    page_links = 'https://www.cheki.com.ng/vehicles?page={}'.format(i)
    page_responses = requests.get(page_links)
    page_contents = BeautifulSoup(page_responses.content, "html.parser")

    #span tags holds the details
    for j in range(0, 300):
        more_detail = page_contents.find_all("span")[j].text
        more_details.append(more_detail)

In [24]:
for i in range(201,250):
    page_links = 'https://www.cheki.com.ng/vehicles?page={}'.format(i)
    page_responses = requests.get(page_links)
    page_contents = BeautifulSoup(page_responses.content, "html.parser")

    #span tags holds the details
    for j in range(0, 300):
        more_detail = page_contents.find_all("span")[j].text
        more_details.append(more_detail)

In [29]:
for i in range(251,300):
    page_links = 'https://www.cheki.com.ng/vehicles?page={}'.format(i)
    page_responses = requests.get(page_links)
    page_contents = BeautifulSoup(page_responses.content, "html.parser")

    #span tags holds the details
    for j in range(0, 270):
        more_detail = page_contents.find_all("span")[j].text
        more_details.append(more_detail)

IndexError: list index out of range

In [28]:
#for i in range(251,300):
test = []
i = 461
page_links = 'https://www.cheki.com.ng/vehicles?page={}'.format(i)
page_responses = requests.get(page_links)
page_contents = BeautifulSoup(page_responses.content, "html.parser")

#span tags holds the details
for j in range(0, 270):
    more_detail = page_contents.find_all("span")[j].text
    test.append(more_detail)

In [30]:
for i in range(301,400):
    page_links = 'https://www.cheki.com.ng/vehicles?page={}'.format(i)
    page_responses = requests.get(page_links)
    page_contents = BeautifulSoup(page_responses.content, "html.parser")

    #span tags holds the details
    for j in range(0, 270):
        more_detail = page_contents.find_all("span")[j].text
        more_details.append(more_detail)

In [74]:
new_details = []
for word in details:
    word = word.replace('\n','')
    new_details.append(word)

#for words in remove:
 # details.remove(words)

In [136]:
unwanted = ['SHOW CONTACT','Reviews','\n5\n(7\nReviews)\n','','Review','5(1Review)','5(8Reviews)',
            '5(8Reviews)','5(3Reviews)','4(1Review)','5(6Reviews)']
item_list = [e for e in new_details if e not in unwanted]

In [88]:
new_details.remove('SHOW CONTACT')

In [137]:
#extra_list = item_list[12:20]
del item_list[12:20]

In [175]:
len(item_list)

177

In [183]:
data = pd.DataFrame([item_list[x:x+12] for x in range(0, len(item_list), 12)])

In [267]:
data.to_csv('used_cars.csv')

In [ ]:
#add the extra list to the dataframe. 

#and do the others as we've done this.

In [185]:
data = data.append(pd.Series(extra_list), ignore_index=True)

In [268]:
# #cleaning_Process

#removing all the \n 
more_new_details = []
for word in more_details:
    word = word.replace('\n','')
    more_new_details.append(word)
    
more_new_details.remove('SHOW CONTACT')
    
    
unwanted = ['SHOW CONTACT','Reviews','\n5\n(7\nReviews)\n','','Review','5(1Review)','5(8Reviews)',
            '5(8Reviews)','5(3Reviews)','4(1Review)','5(6Reviews)','5(42Reviews)','5(56Reviews)',
            '5(4Reviews)','5(2Reviews)','5(37 Reviews)','4(4Reviews)','5(7Reviews)','5(37Reviews)','4(5Reviews)']
more_item_list = [e for e in more_new_details if e not in unwanted]
more_item_list = [x for x in more_item_list if "Reviews" not in x]

In [278]:
more_item_list = [x for x in more_item_list if "Review" not in x]

In [264]:
more_data = pd.DataFrame([add[x:x+12] for x in range(0, len(add), 12)])
result = pd.concat([result,more_data])

In [ ]:
result.shape
result.to_csv('more_cars.csv')

In [276]:
more_item_list = more_item_list[10:]

In [371]:
#add = more_item_list[:186]
#del more_item_list[:179]
Price

['\n₦2,400,000\n',
 '\n₦13,500,000\n',
 '\n₦3,000,000\n',
 '\n₦4,000,000\n',
 '\n₦880,000\n',
 '\n₦3,200,000\n',
 '\n₦1,750,000\n',
 '\n₦2,750,000\n',
 '\n₦2,050,000\n',
 '\n₦13,800,000\n',
 '\n₦6,700,000\n',
 '\n₦3,100,000\n',
 '\n₦12,500,000\n',
 '\n₦2,150,000\n']

In [370]:
#cut the dataframe
#car_data = car_data.loc[:15]
car_data.loc[:18]

,0,1,2,3,4,5,6
0,2011Toyota Camry,Lagos,Automatic,White,Foreign Used,2011,Petrol
1,2015Mercedes-Benz ML350,Lagos,Automatic,Black,Foreign Used,2015,Petrol
2,2006Toyota Sequoia Limited 4x4,Lagos,Automatic,Grey,Foreign Used,2006,Petrol
3,2007Toyota 4-Runner,Lagos,Automatic,Maroon,Foreign Used,2007,Petrol
4,2008Honda Civic,Lagos,Automatic,Black,Locally Used,2008,Petrol
5,2008Mercedes-Benz C300,Lagos,Automatic,Black,Foreign Used,2008,Petrol
6,2008Nissan Versa 1.8 S Hatchback,Lagos,Automatic,Green,Foreign Used,2008,Petrol
7,2008Toyota Camry XLE V6,Lagos,Automatic,Blue,Foreign Used,2008,Petrol
8,2010Toyota Camry,Lagos,Automatic,Silver,Locally Used,2010,Petrol
9,2008Toyota Land Cruiser,Lagos,Automatic,Black,Locally Used,2008,Petrol
10,2013Toyota Highlander 3.5L 4WD,Lagos,Automatic,Black,Foreign Used,2013,Petrol
11,2011Toyota Matrix L Automatic,Lagos,Automatic,White,Foreign Used,2011,Petrol
12,2014Toyota Land Cruiser Prado,Lagos,Automatic,Black,Locally Used,2014,Petrol
13,2003Toyota Sienna 7 Passenger,Lagos,Automatic,Silver,Foreign Used,2003,Petrol
14,2011Toyota Sienna,Lagos,Automatic,Green,Foreign Used,2011,Petrol
15,2004Toyota Sienna,Lagos,Automatic,Red,Foreign Used,2004,Petrol
16,2008Mercedes-Benz ML 550,Lagos,Automatic,Black,Foreign Used,2008,Petrol
17,2016Toyota Highlander,Lagos,Automatic,Other,Foreign Used,2016,Petrol
18,2012Toyota Highlander Limited 4x4,Lagos,Automatic,Black,Foreign Used,2012,Petrol

In [359]:
#cleaning Process

#removing all the \n 
new_details = []
for word in details:
    word = word.replace('\n','')
    new_details.append(word)

#Remove every word containing Review
item_list = [x for x in new_details if "Review" not in x]
item_list = [x for x in item_list if "SHOW CONTACT" not in x]
item_list = [x for x in item_list if "verified seller" not in x]
item_list = [x for x in item_list if "km" not in x]
item_list = [x for x in item_list if "₦" not in x]


#remove every empty element
unwanted = ['']
item_list_test = [e for e in item_list if e not in unwanted]

#remove a particular bug
#item_list_test.remove('2014Porsche Panamera 3.0 D')

In [360]:
item_list_test = item_list_test[58:]

In [362]:
#remove bugs
item_list_test.remove('2015Mercedes-Benz ML350')
item_list_test.remove('2008Nissan Versa 1.8 S Hatchback')
item_list_test.remove('2014Toyota Land Cruiser Prado')
item_list_test.remove('2008Mercedes-Benz ML 550')


#make the dataframe
car_data = pd.DataFrame([item_list_test[x:x+7] for x in range(0, len(add), 7)])

In [361]:
item_list_test

['2011Toyota Camry',
 'Lagos',
 'Automatic',
 'White',
 'Foreign Used',
 '2011',
 'Petrol',
 '2015Mercedes-Benz ML350',
 '2015Mercedes-Benz ML350',
 'Lagos',
 'Automatic',
 'Black',
 'Foreign Used',
 '2015',
 'Petrol',
 '2006Toyota Sequoia Limited 4x4',
 'Lagos',
 'Automatic',
 'Grey',
 'Foreign Used',
 '2006',
 'Petrol',
 '2007Toyota 4-Runner',
 'Lagos',
 'Automatic',
 'Maroon',
 'Foreign Used',
 '2007',
 'Petrol',
 '2008Honda Civic',
 'Lagos',
 'Automatic',
 'Black',
 'Locally Used',
 '2008',
 'Petrol',
 '2008Mercedes-Benz C300',
 'Lagos',
 'Automatic',
 'Black',
 'Foreign Used',
 '2008',
 'Petrol',
 '2008Nissan Versa 1.8 S Hatchback',
 '2008Nissan Versa 1.8 S Hatchback',
 'Lagos',
 'Automatic',
 'Green',
 'Foreign Used',
 '2008',
 'Petrol',
 '2008Toyota Camry XLE V6',
 'Lagos',
 'Automatic',
 'Blue',
 'Foreign Used',
 '2008',
 'Petrol',
 '2010Toyota Camry',
 'Lagos',
 'Automatic',
 'Silver',
 'Locally Used',
 '2010',
 'Petrol',
 '2008Toyota Land Cruiser',
 'Lagos',
 'Automatic',
 'Black',
 'Locally Used',
 '2008',
 'Petrol',
 '2013Toyota Highlander 3.5L 4WD',
 'Lagos',
 'Automatic',
 'Black',
 'Foreign Used',
 '2013',
 'Petrol',
 '2011Toyota Matrix L Automatic',
 'Lagos',
 'Automatic',
 'White',
 'Foreign Used',
 '2011',
 'Petrol',
 '2014Toyota Land Cruiser Prado',
 '2014Toyota Land Cruiser Prado',
 'Lagos',
 'Automatic',
 'Black',
 'Locally Used',
 '2014',
 'Petrol',
 '2003Toyota Sienna 7 Passenger',
 'Lagos',
 'Automatic',
 'Silver',
 'Foreign Used',
 '2003',
 'Petrol',
 '2011Toyota Sienna',
 'Lagos',
 'Automatic',
 'Green',
 'Foreign Used',
 '2011',
 'Petrol',
 '2004Toyota Sienna',
 'Lagos',
 'Automatic',
 'Red',
 'Foreign Used',
 '2004',
 'Petrol',
 '2008Mercedes-Benz ML 550',
 '2008Mercedes-Benz ML 550',
 'Lagos',
 'Automatic',
 'Black',
 'Foreign Used',
 '2008',
 'Petrol',
 '2016Toyota Highlander',
 'Lagos',
 'Automatic',
 'Other',
 'Foreign Used',
 '2016',
 'Petrol',
 '2012Toyota Highlander Limited 4x4',
 'Lagos',
 'Automatic',
 'Black',
 'Foreign Used',
 '2012',
 'Petrol']