In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
#initialize a dataframe
cars = pd.DataFrame()

In [881]:
details = []   #Prices for the 1st page
page_link =  'https://www.cheki.com.ng/vehicle/mercedes-benz-glk-350-9neejj'

page_response = requests.get(page_link)
page_content = BeautifulSoup(page_response.content, "html.parser")

for i in range(0,10):
    detail = page_content.find_all("dd")[i].text
    details.append(detail)
    
#car-price
for k in range(9,11):
    price = page_content.find_all("span")[k].text
    details.append(price)
    

#car name
Name = page_content.h1.text
details.append(Name)

for j in range(59,82):
    look = page_content.find_all("li")[j].text
    details.append(look)

#Remove the too-long description here
details = details[1:]

#Append to the dataframe
cars = cars.append(pd.Series(details), ignore_index=True)

#save to disk
cars.to_csv('cars_final_2.csv')

In [32]:
cars.tail(5)

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
18,25000,Foreign Used,4 Wheel Drives & SUVs,Black,4 Wheel Drive,Petrol,Lefthand Drive,-,"₦3,100,000",\n2008 Black Automatic Acura MDX\n,...,,\nUsed Cars\n,\nNew Cars\n,\nFind New Cars\n,\nBook a test drive\n,\nGet Finance\n,\nDealers\n,\nInsurance\n,NaN,NaN
19,25000,Foreign Used,4 Wheel Drives & SUVs,Maroon,4 Wheel Drive,Petrol,Lefthand Drive,-,"₦5,300,000",\n2009 Maroon Automatic Toyota Highlander\n,...,,,,,,\nUsed Cars\n,\nNew Cars\n,\nFind New Cars\n,NaN,NaN
20,25000,Foreign Used,4 Wheel Drives & SUVs,Black,4 Wheel Drive,Petrol,Lefthand Drive,-,"₦7,800,000",\n2011 Black Automatic Toyota Highlander\n,...,Air Conditioning,Airbags,AM/FM Radio,CD Player,Keyless Entry,Rear Camera,Meet at a safe location to inspect the vehicle.,Do not make payment to the seller without insp...,NaN,NaN
21,Foreign Used,Saloons,Silver,4 Wheel Drive,Petrol,Lefthand Drive,Automatic,"₦6,200,000",\nNew\n,\n1974 Silver Automatic Mercedes-Benz 280E\n,...,Privacy Statement,Terms & Conditions,Unsubscribe from SMS Alerts,Unsubscribe From Email Alerts,Sitemap,\nJobs\n Jobberman Nigeria\n,,,NaN,NaN
22,Foreign Used,Saloons,Other,2 Wheel Drive,Petrol,Lefthand Drive,Automatic,Leather,4,"₦3,000,000",...,\n\nWrite Review\n\n,\nFind My Car\n,\nFind My Car\n,\n\nBlog\n\n,\nSell a Car\n,,\n\n\nContact Us\n\n\n\n\nRegister\n\n\n\n\nLo...,\n\nContact Us\n\n,\n\nRegister\n\n,\n\nLogin\n\n

In [5]:
cars.to_csv('cars_final.csv')

In [6]:
price = page_content.find_all("span")[9].text

In [7]:
price

' - '

In [8]:
price = page_content.find_all("span")[10].text